<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Add a Country</h4>
  </div>

  <div class="panel-body">
    <form [formGroup]="nestedForm">
      <!-- single field info -->
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <div class="form-group col-sm-4">
              <label for="nameText" class="">Country Name</label>
              <input type="text" formControlName="name" [ngClass]="{'form-control': true,
              'is-invalid': name.invalid && name.touched,
              'is-valid': name.valid}" id="nameText" placeholder="Enter name">
              <small id="fnHelp" *ngIf="name.errors?.required && name.touched" class="form-text custom-invalid-feedback">Field is required</small>
              <small id="fnHelp" *ngIf="name.errors?.minlength && name.touched" class="form-text custom-invalid-feedback">Value must contain atleast 2 characters</small>
            </div>
            <div class="form-group col-sm-4">
              <label for="populationText" class="">Country Population</label>
              <input type="text" formControlName="population" [ngClass]="{'form-control': true,
              'is-invalid': population.invalid && population.touched,
              'is-valid': population.valid}" id="populationText" placeholder="Enter population">
              <small id="fnHelp" *ngIf="population.errors?.required && population.touched" class="form-text custom-invalid-feedback">Field is required</small>
              <small id="fnHelp" *ngIf="population.errors?.minlength && population.touched" class="form-text custom-invalid-feedback">Value must contain atleast 2 characters</small>
   
            </div>
            <div class="form-group col-sm-6">
              <label for="regionText" class="">Region</label>
              <input type="text" formControlName="region" [ngClass]="{'form-control': true,
              'is-invalid': region.invalid && region.touched,
              'is-valid': region.valid}" id="regionText" placeholder="Enter region">
              <small id="fnHelp" *ngIf="region.errors?.required && region.touched" class="form-text custom-invalid-feedback">Field is required</small>
              <small id="fnHelp" *ngIf="region.errors?.minlength && region.touched" class="form-text custom-invalid-feedback">Value must contain atleast 2 characters</small>
   
            </div>
          </div>
        </div>
      </div>

      <!-- seperator -->
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>


      <!-- address form portion -->
      <div class="row" formArrayName="languages">
        <div *ngFor="let group of languagesArray.controls; let i = index;" [formGroupName]="i">
          <div class="col-8">
            <h4>{{i+1}}. Language </h4>
          </div>
          <div class="col-4 control-buttons">
            <button class="btn btn-primary" (click)="addLanguage()">+</button>
            <button class="btn btn-danger" (click)="removeLanguage(i)">-</button>
            <hr>
          </div>
          <div class="form-group">
            <label for="addText">Language Name</label>
            <input type="text" formControlName="name" [ngClass]="{'form-control': true,
                'is-invalid': group.controls.name.invalid && group.controls.name.touched,
                'is-valid': group.controls.name.valid}" id="name" placeholder="Enter street address">
            <small *ngIf="group.controls.name.invalid && group.controls.name.touched"
              class="form-text custom-invalid-feedback">Field is required</small>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="nativeName">Native Name</label>
              <input type="text" formControlName="nativeName" [ngClass]="{'form-control': true,
                'is-invalid': group.controls.nativeName.invalid && group.controls.nativeName.touched,
                'is-valid': group.controls.nativeName.valid}" id="nativeName" placeholder="Enter nativeName">
              <small *ngIf="group.controls.nativeName.invalid && group.controls.nativeName.touched"
                class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="iso639_1">Native Name</label>
              <input type="text" formControlName="iso639_1" [ngClass]="{'form-control': true,
                'is-invalid': group.controls.iso639_1.invalid && group.controls.iso639_1.touched,
                'is-valid': group.controls.iso639_1.valid}" id="iso639_1" placeholder="Enter iso639_1">
              <small *ngIf="group.controls.iso639_1.invalid && group.controls.iso639_1.touched"
                class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="iso639_2">Native Name</label>
              <input type="text" formControlName="iso639_2" [ngClass]="{'form-control': true,
                'is-invalid': group.controls.iso639_2.invalid && group.controls.iso639_2.touched,
                'is-valid': group.controls.iso639_2.valid}" id="iso639_2" placeholder="Enter iso639_2">
              <small *ngIf="group.controls.iso639_2.invalid && group.controls.iso639_2.touched"
                class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
        </div>
      </div>

      <!-- seperator -->
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>

      <!-- final action buttons -->
      <div class="row justify-content-center">
        <div class="col-2">
          <button type="button" [disabled]="nestedForm.invalid" (click)="submitHandler()"
            class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>