<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Add a Country</h4>
  </div>

  <div class="panel-body">
    <form [formGroup]="nestedForm">
      <!-- single field info -->
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <div class="form-group col-sm-4">
              <label for="nameText" class="">Country Name</label>
              <input type="text" formControlName="name" [ngClass]="{'form-control': true,
              'is-invalid': name.invalid && name.touched,
              'is-valid': name.valid}" id="nameText" placeholder="Enter country name">
              <small id="fnHelp" *ngIf="name.errors?.required && name.touched" class="form-text custom-invalid-feedback">Field is required</small>
            </div>
            <div class="form-group col-sm-4">
              <label for="populationText" class="">Country Population</label>
              <input type="text" formControlName="population" [ngClass]="{'form-control': true,
              'is-invalid': population.invalid && population.touched,
              'is-valid': population.valid}" id="populationText" placeholder="Enter country population">
              <small *ngIf="population.errors?.pattern && population.touched" class="form-text custom-invalid-feedback">Value should be a number.</small>
              <small id="fnHelp" *ngIf="population.errors?.required && population.touched" class="form-text custom-invalid-feedback">Field is required</small>
            </div>
            <div class="form-group col-sm-4">
              <label for="regionText" class="">Region</label>
              <input type="text" formControlName="region" [ngClass]="{'form-control': true,
              'is-invalid': region.invalid && region.touched,
              'is-valid': region.valid}" id="regionText" placeholder="Enter country region">
              <small id="fnHelp" *ngIf="region.errors?.required && region.touched" class="form-text custom-invalid-feedback">Field is required</small>
            </div>

            <div class="form-group col-sm-8">
              <label for="flagUrl" class="">Flag image URL</label>
              <input type="text" formControlName="flag" [ngClass]="{'form-control': true,
              'is-invalid': flag.invalid && flag.touched,
              'is-valid': flag.valid}" id="flagText" placeholder="Flag image URL">
              <small id="fnHelp" *ngIf="flag.errors?.required && flag.touched" class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
        </div>
      </div>

      <!-- seperator -->
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>


      <!-- address form portion -->
      <div class="row" formArrayName="languages">
        <div *ngFor="let group of languagesArray.controls; let i = index;" [formGroupName]="i">
          <div class="col-xs-12">
            <hr>
          </div>
          <div class="col-xs-6 text-left">
            <h4>{{i+1}}. Language </h4>
          </div>
          <div class="col-xs-6 text-right">
            <button class="btn btn-danger" (click)="removeLanguage(i)">Remove</button>
            <hr>
          </div>
          <div class="col-sm-4 form-group">
            <label for="addText">Language Name</label>
            <input type="text" formControlName="name" [ngClass]="{'form-control': true,
                'is-invalid': group.controls.name.invalid && group.controls.name.touched,
                'is-valid': group.controls.name.valid}" id="name" placeholder="Enter Language Name">
            <small *ngIf="group.controls.name.invalid && group.controls.name.touched"
              class="form-text custom-invalid-feedback">Field is required</small>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="nativeName">Native Name</label>
              <input type="text" formControlName="nativeName" [ngClass]="{'form-control': true,
                'is-invalid': group.controls.nativeName.invalid && group.controls.nativeName.touched,
                'is-valid': group.controls.nativeName.valid}" id="nativeName" placeholder="Enter Native Name">
              <small *ngIf="group.controls.nativeName.invalid && group.controls.nativeName.touched"
                class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="iso639_1">Iso Code 1</label>
              <input type="text" formControlName="iso639_1" [ngClass]="{'form-control': true,
                'is-invalid': group.controls.iso639_1.invalid && group.controls.iso639_1.touched,
                'is-valid': group.controls.iso639_1.valid}" id="iso639_1" placeholder="Enter 1st Iso Code">
              <small *ngIf="group.controls.iso639_1.invalid && group.controls.iso639_1.touched"
                class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="iso639_2">Iso Code 2</label>
              <input type="text" formControlName="iso639_2" [ngClass]="{'form-control': true,
                'is-invalid': group.controls.iso639_2.invalid && group.controls.iso639_2.touched,
                'is-valid': group.controls.iso639_2.valid}" id="iso639_2" placeholder="Enter 2nd Iso Code">
              <small *ngIf="group.controls.iso639_2.invalid && group.controls.iso639_2.touched"
                class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
        </div>
        
      </div>

      <!-- seperator -->
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>

      <!-- final action buttons -->
      <div class="row text-left">
        <div class="col-xs-6">
          <button type="button" [disabled]="nestedForm.invalid" (click)="submitHandler()"
            class="btn btn-primary">Submit</button>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-primary" (click)="addLanguage()">Add Language</button>
        </div>  
      </div>
    </form>
  </div>
</div>