<div *ngIf="country != undefined" class="thumbnail">
    <img src="{{country.flag}}" alt="" class="flag">
    <div class="caption">
        <h4>
        <h2>
            {{ country.name }}
        </h2>
        </h4>
        <h3>
        <i class="glyphicon glyphicon-user"></i> 
            {{ country.population }}
        </h3>
        <h4>
        <i class="glyphicon glyphicon-map-marker"></i> 
            {{ country.region }}
        </h4>

        <hr>

        <button class="btn btn-sm btn-success" routerLink="">
        Back
        </button>
    </div>
</div>