<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4">
          <label for="sort-field">Sort By</label>
          <select class="form-control" name="sort-field" id="sort-field" [(ngModel)]="sortField">
            <option *ngFor="let field of sortFields" [value]="field">
              {{ utilService.capitalize(field) }}
            </option>
          </select>
        </div>
        <div class="col-sm-4">
          <label for="sort-direction">Sort Direction</label>
          <div>

            <button class="btn btn-secondary" [ngClass]="{'btn-success': sortDirection == 'asc'}"
              (click)="sortDirection = 'asc'">
              Asc
            </button>

            <button class="btn btn-secondary" [ngClass]="{'btn-success': sortDirection == 'desc'}"
              (click)="sortDirection = 'desc'">
              Desc
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div
        *ngFor="let country of countries | sortBy: [sortField, sortDirection] | paginate: { itemsPerPage: 12, currentPage: p }">
        <app-country-card [country]="country" class="col-sm-3"></app-country-card>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="text-center">
      <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
    </div>
  </div>